{% extends 'admin-temp/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

<div class="row">
  <div class="col-sm-1 card-body">
    {% comment %} <a href="{% url 'admin_logout' %}" class="btn btn-primary">Logout</a> {% endcomment %}
  </div>
  <div class="col-sm-11 card-body">
    <form action="" method="post" class="d-none d-md-flex input-group w-auto my-auto">
      {% csrf_token %}
      {% comment %} <input autocomplete="off" type="text" required class="form-control rounded" id="search" name="query" placeholder="Search" aria-label="search" style="width: 150px;"> {% endcomment %}
      {% comment %} <button type="submit" class="btn btn-dark btn-outline-success"><i class="fa fa-search" aria-hidden="true" style="color:#FFFFFF;"></i></button> {% endcomment %}
    </form>
  </div>
</div>

<div class="row">
  <div class="col-sm-8">
    <h4 class="text-center alert alert-info">USER INFORMATION</h4>
    <table class="table table-hover" id='example'>
      <thead>
        <tr>
          <th scope="col">ID</th>
          {% comment %} <th scope="col">USERNAME</th> {% endcomment %}
          <th scope="col">PHONE NUMBER</th>
          <th scope="col">EMAIL</th>
          <th scope="col">ACTION</th>
        </tr>
      </thead>
      <tbody>
        {% for s in user %}
        <tr>
          <th scope="row">{{ s.id }}</th>
          {% comment %} <td>{{ s.username }}</td> {% endcomment %}
          <td>{{ s.phone_number }}</td>
          <td>{{ s.email }}</td>
          <td>
            {% if s.is_active %}
            <a href="{% url 'block_user' s.id %}" class="btn btn-danger">Block</a>
            {% else %}
            <a href="{% url 'unblock_user' s.id %}" class="btn btn-success">Unblock</a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>


<script>
  $(document).ready(function() {
    $('#example').DataTable();
  });
</script>

{% endblock content %}